/*
Author: Suman Chapagain
Date: November 08, 2023
File Name: styles.css
*/

/* Styling for rows while hovering */
    tr:nth-child(odd):hover {
        background-color: #8d7a7a; 
    }

    tr:nth-child(even):hover {
        background-color: #925c5c;
    }

tr:nth-child(odd) {
    background-color: #ccc;
}

/* Show mobile class, hide tablet-dekstop class */
.mobile {
    display: block;
}

table.schedule{
    display: none;
    overflow: hidden;
}

/* Media Query for Tablet Viewport */
@media screen and (min-width: 630px), print {
    /*Tablet Viewport: Show tablet-dekstop class, hide mobile class */
    .tablet-dekstop {
        display: block;
    }

    .mobile {
        display: none;
    }

    /* Tablet Viewport: Style rules for table */
    table {
        border: 1px solid #000;
        border-collapse: collapse;
        margin: 0 auto;
        width: 100%;
    }

    caption {
        font-size: 1.5em;
        font-weight: bold;
        padding: 1%;
    }

    th,td {
        border: 1px solid #000;
        padding: 1%;
    }

    th {
        background-color: #000;
        color: #fff;
        font-size: 1.15em;
    }

    tr:nth-child(odd) {
        background-color: #ccc;
    }

    
    /* Tablet Viewport: Style rules for table */
    table {
        border: 1px solid #000;
        border-collapse: collapse;
        margin: 0 auto;
        width: 100%;
    }

    caption {
        font-size: 1.5em;
        font-weight: bold;
        padding: 1%;
    }

    th,td {
        border: 2px solid #665555;
        padding: 1%;
    }

    th {
        background-color: #000;
        color: #fff;
        font-size: 1.15em;
    }

}

/* Media Query for large Dekstop Viewport */
@media screen and (min-width: 1921px) {

    #container {
        width: 1920px;
        margin: 0 auto;
    }
    
    table {
        width: 80%;
    }

}